{% extends "base.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}

{% block title %}| Change Password{% endblock title %}

{% block content %}
  <h1 class="mt-5">Change Password</h1>
  {% url 'account_change_password' as action_url %}
  <form action="action_url" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-secondary">Change Password</button>
    <p class="my-3">
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </p>
  </form>
{% endblock content %}
