# Django
ENVIRONMENT=development  # production
DJANGO_SECRET_KEY=<your secret key>
ALLOWED_HOSTS=localhost,127.0.0.1,<your domain name>

# Database
DB_NAME=<database name>
DB_USER=<database user>
DB_PASSWORD=<database passowrd>
DB_HOST=<database host address>
DB_PORT=<database server port>

# EMAIL
EMAIL_HOST=<your email server url>
EMAIL_USER=<email server login account>
EMAIL_PASS=<email server login password>

# LOGGING
ROOT_LOG_LEVEL=INFO
DJANGO_LOG_LEVEL=INFO
DJANGO_SERVER_LOG_LEVEL=INFO
DJANGO_TEMPLATE_LOG_LEVEL=INFO
DJANGO_DB_LOG_LEVEL=INFO
