@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100%;
  margin-bottom: 60px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  height: 60px;
  min-width: 80vw;
  line-height: 60px; /* Vertically center the text there */
}
