{% extends 'base.html' %}

{% load static %}

{% block title %}| About{% endblock title %}

{% block content %}

<h1 class="mt-5">About Excession Blog</h1>
<p class="lead">
  This is an updated Django Blog application with all the bells and whistles I've been learning. This blog site is an internal project and is not accessible from the web. I use this site to keep notes about the Django modules I'm learning and working with as well as the software I support at OpenText.
</p>
<h2 class="my-3">
  Why Excession
</h2>
<p>Excession by Iain M. Banks is one of my favorite Science-fiction books. I think that handling situations that do not fit normal parameters is an important skill in all walks of life.</p>
<p class="lead mt-3 mb-5">
  An out of context problem or event - something that is so large or different from normal that it causes a system or society to change in a fundamental way. Originally defined by author Iain M Banks and used as the title of a novel.<br />
  The corona virus is an excession. Now governments will consider giving money directly to the people instead of taxing them, as without the support everything we do will fail.
</p>
<h2>Built With...</h2>
<h3>Production Packages</h3>
<p>These packages will be deployed in production.</p>
<ul class="list-unstyled">
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> crispy-bootstrap5==2024.2</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> django==5.1</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> django-allauth==64.0.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> django-cleanup==8.1.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> django-crispy-forms==2.3</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> django-debug-toolbar==4.4.6</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> django-extensions==3.2.3</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> django-htmx==1.19.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> django-import-export==4.1.1</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> django-taggit==6.0.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> django-tinymce==4.1.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> django-unfold==0.35.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> django-widget-tweaks==1.5.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> djangorestframework==3.15.2</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> environs[django]==11.0.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> gunicorn==23.0.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> pillow==10.4.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> psycopg2==2.9.9</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> reportlab[pycairo]==4.2.2</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> whitenoise==6.7.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> xhtml2pdf==0.2.16</li>
    <hr />
    <h3>Dependent Packages</h3>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> arabic-reshaper==3.0.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> asgiref==3.8.1/li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> asn1crypto==1.5.1</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> certifi==2024.2.2</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> cffi==1.16.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> chardet==5.2.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> charset-normalizer==3.3.2</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> click==8.1.7</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> cryptography==42.0.7</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> cssselect2==0.7.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> diff-match-patch==20230430</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> dj-database-url==2.1.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> dj-email-url==1.0.6</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> django-cache-url==3.4.5</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> freetype-py==2.3.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> html5lib==1.1</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> idna==3.7</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> lxml==5.2.2</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> marshmallow==3.21.2</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> oscrypto==1.3.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> packaging==24.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> pycparser==2.22</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> pyhanko==0.25.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> pyhanko-certvalidator==0.26.3</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> pypdf==4.2.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> pypng==0.20220715.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> python-bidi==0.4.2</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> pyyaml==6.0.1</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> qrcode==7.4.2</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> requests==2.32.2</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> rlpycairo==0.3.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> six==1.16.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> sqlparse==0.5.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> svglib==1.5.1</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> tablib==3.5.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> tinycss2==1.3.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> typing-extensions==4.11.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> tzlocal==5.2</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> uritools==4.0.2</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> urllib3==2.2.1</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> webencodings==0.5.1</li>

</ul>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-2 border-bottom border-5"></div>
<h3 class="mt-3">Development Packages</h3>
<p>These packages are intended for development only and will not be deployed in production.</p>
<ul class="list-unstyled">
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> black==24.8.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> ruff==0.6.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> Faker==27.0.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> factory-boy==3.3.0</li>
    <hr />
    <h3>Dependent Packages</h3>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> click==8.1.7</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> mypy-extensions==1.0.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> packaging==24.0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> pathspec==0.12.1</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> platformdirs==4.2.2</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> python-dateutil==2.9.0.post0</li>
    <li><i class="fa-sharp fa-regular fa-gear-code"></i> six==1.16.0</li>
</ul>

{% endblock content %}
