{% load static %}
<!-- Footer -->
<footer class="text-center text-lg-start bg-body-primary text-muted mt-5">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Connect with me on social media:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/david.robb.2012" target="_blank" class="me-4">
        <i class="fa-brands fa-facebook-f fa-xl"></i>
      </a>
      <a href="https://www.instagram.com/davidrobb169/" target="_blank" class="me-4">
        <i class="fa-brands fa-instagram fa-xl"></i>
      </a>
      <a href="https://www.linkedin.com/in/david-robb-42436a20/" target="_blank" class="me-4">
        <i class="fa-brands fa-linkedin-in fa-xl"></i>
      </a>
      <a href="https://github.com/drobb2020" target="_blank" class="me-4">
        <i class="fa-brands fa-github fa-xl"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- End Section: Social media -->

  <!-- Section: Links  -->
  <section>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <img src="{% static 'images/logo.png' %}" alt="David Robb" style="width: 75px">
            Excession Development
          </h6>
          <p>
            Connect with me and explore the possibilities of designing a new online presence using the tools and technologies you are familiar with, together we can design something that is easier to maintain in the future without engaging us again.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto my-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Useful Links</h6>
          <p>
            <a href="{% url 'reviews' %}" class="text-decoration-none text-reset">Reviews</a>
          </p>
          <p>
            <a href="{% url 'cookies' %}" class="text-decoration-none text-reset">Cookies</a>
          </p>
          <p>
            <a href="{% url 'copyright' %}" class="text-decoration-none text-reset">Copyright</a>
          </p>
          <p>
            <a href="{% url 'dcma' %}" class="text-decoration-none text-reset">DCMA Policy</a>
          </p>
          <p>
            <a href="{% url 'disclaimer' %}" class="text-decoration-none text-reset">Disclaimer</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto my-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p>
            <a href="{% url 'dashboard' %}" class="text-decoration-none text-reset">Helpdesk</a>
          </p>
          <p>
            <a href="{% url 'member_post_agreement' %}" class="text-decoration-none text-reset">Members Post Agreement</a>
          </p>
          <p>
            <a href="{% url 'privacy' %}" class="text-decoration-none text-reset">Privacy</a>
          </p>
          <p>
            <a href="{% url 'terms_and_conditions' %}" class="text-decoration-none text-reset">Terms and Conditions</a>
          </p>
          <p>
            <a href="{% url 'terms_of_use' %}" class="text-decoration-none text-reset">Acceptable use Policy</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 my-4">
          <!-- Links -->
          
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <div class="d-flex">
            <p>
              <i class="fa-regular fa-newspaper me-3"></i>
              <p><a href="{% url 'subscribe' %}" class="text-decoration-none text-reset">Subscribe to our newsletter</a></p>
            </p>
          </div>
          <div class="d-flex">
            <p>
               <i class="fa-sharp fa-regular fa-house me-3"></i>
               <p>1701 Kilborn Ave, Ottawa, ON<br />K1H 6M8, Canada</p>
            </p>
          </div>
          <p>
            <i class="fa-solid fa-paper-plane-top me-3"></i>
            info@excessiondevelopment.tech
          </p>
          <p><i class="fa-solid fa-mobile me-3"></i> + 1 613 260 9403</p>
          <p><i class="fa-regular fa-mobile me-3"></i> + 1 613 793 2281</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- End Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://davidrobb2021.tech"
      >Excession Development | All rights reserved.</a
    >
  </div>
  <!-- End Copyright -->
</footer>
<!-- End Footer -->
