{% extends "base.html" %}

{% load static %}

{% block title %}| Copyright{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-md-center py-3">
        <div class="col-md-8 py-3 mb-3">
            <h1 class="pb-2">Copyright</h1>
            <h5>Copyright 2024 David Robb</h5>
            <p>
                Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
            </p>
            <p>
                The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
            </p>
            <p>
                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
            </p>
            <div class="container mt-5">
                <hr class="bg-primary border-3 border-light" />
            </div>
            <h2>Contacting us</h2>
            <p>
                If you have any questions, concerns, or complaints regarding this Policy
                or the copyright, we encourage you to contact us using the details
                below:
              </p>
            <p>
                <a
                  class="text-decoration-none"
                  target="_blank"
                  rel="nofollow"
                  href="{% url 'contact' %}"
                  >https://blog.excessiondevelopment.tech/contact</a
                >
              </p>
              <p>This document was last updated on March 30, 2024</p>
        </div>
    </div>
</div>
{% endblock content %}
