{% extends "base.html" %}

{% load static %}

{% block title %}| Post Agreement{% endblock title %}

{% block content %}

<div class="container py-5">
  <div class="row justify-content-md-center py-3">
    <div class="col-md-8 py-3 mb-3">
      <h1 class="pb-2">Member Post Agreement</h1>
      <p class="lead">
        Thank you for showing interest in writing a guest post for us. We’re
        glad you’re here.
      </p>
      <p class="lead">
        Please take a moment to review this entire page as it explains the
        guidelines, the submission process, and other important details.
      </p>
      <p class="lead">
        This will ensure that your submission meets what we’re looking for and
        improve your chances of getting the article published on our website.
      </p>
      <h2>Article guidelines</h2>
      <p>
        Before sending us your article, make sure it follows these guidelines:
      </p>
      <ul>
        <li>Article must have a minimum of 500 words</li>
        <li>Article must be free of spelling mistakes</li>
        <li>Article must be free of plagiarism</li>
        <li>
          Article must be unique and not previously published anywhere else
        </li>
        <li>Article must not violate any copyrights, patents, or trademarks</li>
        <li>
          Article must not contain unlawful, hateful, and threatening language
        </li>
        <li>Article must not contain profanity or vulgar language</li>
        <li>
          Article may include relevant pictures with proper attributions,
          permission to use, or related licenses
        </li>
        <li>
          You may include links in the article as long as they make sense (no
          affiliate links)
        </li>
        <li>
          When quoting or using factual information, you must link to
          authoritative sources right within the article to back it up
        </li>
        <li>
          All statements in the article asserted as facts must be valid and
          based on evidence and related research
        </li>
        <li>Article must be submitted in the HTML format</li>
      </ul>
      <p>
        You may email your article to
        <a
          class="text-decoration-none"
          target="_blank"
          rel="nofollow"
          href="{% url 'post-create' %}"
          >http://excessiondevelopmentblog.tech/blog/create/</a
        >
      </p>
      <h2>Ownership and credit</h2>
      <p>
        If your article is accepted and published, your information will appear
        along with it. As such, make sure to also include the following along
        with your article submission:
      </p>
      <ul>
        <li>A photo of yourself</li>
        <li>A short biography (no more than 500 words)</li>
        <li>A link to your website</li>
      </ul>
      <p>
        Everything submitted and published by us will remain your property. You
        understand and agree that you give us an exclusive right to use the
        article and related materials as per this agreement. However, you are
        allowed to republish the article on your own website at any time after
        it’s been published on our website.
      </p>
      <h2>Review process</h2>
      <p>
        We’ll do our best to review all submitted articles as quickly as
        possible. Most of the time it won’t take longer than 2 days to get back to
        you.
      </p>
      <p>
        Not all submitted articles will be accepted. We reserve the right to
        refuse any article at our sole discretion. If your article is not
        accepted, we’ll get in touch with you to let you know so you could
        possibly make another submission.
      </p>
      <h2>Article publishing</h2>
      <p>
        If your article is accepted, it will be published right away and we’ll
        send you a notification accordingly. Note that we reserve the right to
        make corrections and changes in the article as we see fit (such as its
        format, wording, spelling, etc). You will be notified of such changes
        and will have a chance to review them before the article is published.
      </p>
      <h2>Promotion and engagement</h2>
      <p>
        Once your article is published, you must promote it to your audience for
        wider exposure and better engagement. This may include sending a
        newsletter, posting on your social media channels, making an
        announcement or linking to it from your own website.
      </p>
      <p>
        You must take active part in replying to all comments left for your
        article, respond to questions, and otherwise engage with the audience.
      </p>
      <h2>Legal disclaimer</h2>
      <p>
        This guest post agreement (“Agreement”) sets forth the general
        guidelines, requirements, terms, conditions, rights, and obligations
        when you (“Writer”, “you” or “your”) wish to submit a guest post article
        (“Article”) for the
        <a
          class="text-decoration-none"
          target="_blank"
          rel="nofollow"
          href="{% url 'index' %}"
          >excessiondevelopmentblog.tech</a
        >
        website (“website”). This Agreement is legally binding between the you
        and this website operator (“operator”, “we”, “us” or “our”).
      </p>
      <p>
        If you are entering into this agreement on behalf of a business or other
        legal entity, you represent that you have the authority to bind such
        entity to this agreement, in which case the terms “writer”, “you” or
        “your” shall refer to such entity. If you do not have such authority, or
        if you do not agree with the guidelines, terms, conditions, rights, or
        obligations, you must not accept this agreement and may not submit any
        articles.
      </p>
      <p>
        By submitting an article for publishing on the website, you acknowledge
        that you have read, understood, and agree to be bound by the terms of
        this Agreement. You acknowledge that this Agreement is a contract
        between you and the operator, even though it is electronic and is not
        physically signed by you, and it governs your article submissions and
        publishings.
      </p>
      <h3>Independent contractor status</h3>
      <p>
        Nothing contained in this Agreement shall be interpreted as creating or
        establishing any partnership or joint venturers. You acknowledge that
        you act as an independent contractor. You are not considered an employee
        and are not entitled to participate in any employee plans, arrangements,
        or distributions by the operator. You must not act as an agent of the
        operator and must not provide any services under the name of the
        operator.
      </p>
      <p>
        You must not under any circumstances (i) enter into any agreements on
        behalf of the operator, (ii) incur any obligations on behalf of the
        operator, (iii) act for or to bind the operator in any way, (iv) sign
        the name of the operator, (v) represent that the operator is in any way
        responsible for your acts or omissions (vi) refer to the operator as a
        customer in any manner or format, or (vii) use our logo or name in a way
        that implies that you and the operator are partners or that we have
        endorsed you, your website or your products or services. You must obtain
        express written permission for any use of the logos, trademarks, or
        other intellectual property that belong to the operator.
      </p>
      <h3>Ownership of intellectual property</h3>
      <p>
        Upon submitting an Article, you transfer all of its ownership rights to
        the operator and give the operator a perpetual, irrevocable, worldwide,
        non-exclusive, royalty-free, transferable, and fully sub-licensable
        right and license to reproduce, distribute, publicly display, use,
        perform, make derivative works of or otherwise use the Article and
        likeness in any form, media or technology, now known or later developed
        for any purpose.
      </p>
      <h3>Limitation of liability</h3>
      <p>
        To the fullest extent permitted by applicable law, in no event will the
        operator, its affiliates, directors, officers, employees, agents,
        suppliers or licensors be liable to any person for any indirect,
        incidental, special, punitive, cover, or consequential damages
        (including, without limitation, damages for lost profits, revenue,
        sales, goodwill, use of the content, impact on business, business
        interruption, loss of anticipated savings, loss of business opportunity)
        however caused, under any theory of liability, including, without
        limitation, contract, tort, warranty, breach of statutory duty,
        negligence or otherwise, even if the liable party has been advised as to
        the possibility of such damages or could have foreseen such damages. You
        assume all legal liability for the accuracy, scope, quality, and any
        possible outcomes as a result of or relating to your Article.
      </p>
      <h3>Indemnification</h3>
      <p>
        You agree to indemnify and hold the operator and its affiliates,
        directors, officers, employees, agents, suppliers, and licensors
        harmless from and against any liabilities, losses, damages, or costs,
        including reasonable attorneys’ fees, incurred in connection with or
        arising from any third party allegations, claims, actions, disputes, or
        demands asserted against any of them as a result of or relating to your
        Article, your use of the Services or any willful misconduct on your
        part.
      </p>
      <h3>Severability</h3>
      <p>
        All rights and restrictions contained in this Agreement may be exercised
        and shall be applicable and binding only to the extent that they do not
        violate any applicable laws and are intended to be limited to the extent
        necessary so that they will not render this Agreement illegal, invalid
        or unenforceable. If any provision or portion of any provision of this
        Agreement shall be held to be illegal, invalid, or unenforceable by a
        court of competent jurisdiction, it is the intention of the parties that
        the remaining provisions or portions thereof shall constitute their
        agreement with respect to the subject matter hereof, and all such
        remaining provisions or portions thereof shall remain in full force and
        effect.
      </p>
      <h3>Dispute of resolution</h3>
      <p>
        The formation, interpretation, and performance of this Agreement and any
        disputes arising out of it shall be governed by the substantive and
        procedural laws of Ontario, Canada without regard to its rules on
        conflicts or choice of law and, to the extent applicable, the laws of
        Canada. The exclusive jurisdiction and venue for actions related to the
        subject matter hereof shall be the courts located in Ontario, Canada,
        and you hereby submit to the personal jurisdiction of such courts. You
        hereby waive any right to a jury trial in any proceeding arising out of
        or related to this Agreement. The United Nations Convention on Contracts
        for the International Sale of Goods does not apply to this Agreement.
      </p>
      <h3>Assignment</h3>
      <p>
        You may not assign, resell, sub-license or otherwise transfer or
        delegate any of your rights or obligations hereunder, in whole or in
        part, without our prior written consent, which consent shall be at our
        own sole discretion and without obligation; any such assignment or
        transfer shall be null and void. We are free to assign any of its rights
        or obligations hereunder, in whole or in part, to any third party as
        part of the sale of all or substantially all of its assets or stock or
        as part of a merger.
      </p>
      <h3>Changes and amendments</h3>
      <p>
        We reserve the right to modify this Agreement or its terms at any time
        at our discretion. When we do, we will revise the updated date at the
        bottom of this page. An updated version of this Agreement will be
        effective immediately upon the posting of the revised Agreement unless
        otherwise specified. Your future Article submissions after the effective
        date of the revised Agreement (or such other act specified at that time)
        will constitute your consent to those changes.
      </p>
      <h3>Acceptance of these terms</h3>
      <p>
        You acknowledge that you have read this Agreement and agree to all its
        terms and conditions. By submitting an Article for publishing on the
        website, you agree to be bound by this Agreement. If you do not agree to
        abide by the terms of this Agreement, you must not accept this agreement
        and may not submit any Articles.
      </p>
      <div class="container mt-5">
        <hr class="bg-primary border-3 border-light" />
    </div>
    <h2>Contacting us</h2>
    <p>
        If you have any questions, concerns, or complaints regarding this Policy
        or the copyright, we encourage you to contact us using the details
        below:
      </p>
    <p>
        <a
          class="text-decoration-none"
          target="_blank"
          rel="nofollow"
          href="{% url 'contact' %}"
          >https://blog.excessiondevelopment.tech/contact</a
        >
      </p>
      <p>This document was last updated on March 30, 2024</p>
    </div>
  </div>
</div>

{% endblock content %}
