{% extends 'base.html' %}

{% load static %} 

{% block title %}| All Posts{% endblock title %}

{% block content %}

<main role="main">
  <!-- Post list header -->
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Blog Posts</h1>
        <p class="lead text-muted">
          Here is the full collection of the current posts. If you don't see a
          post on a topic you are interested in please drop me a note from the
          <br />
          <a href="{% url 'contact' %}">contact page</a> and I will research and
          add a post on the topic.
        </p>
        {% if user.is_authenticated %}
        <p>
          <a
            href="{% url 'post-create' %}"
            class="btn btn-success btn-lg my-2 px-4"
            ><i class="fa-sharp fa-solid fa-plus"></i> Create A Post</a
          >
        </p>
        {% endif %}
      </div>
    </section>
    <!-- tag section -->
    <div class="mb-4">
      <div class="border border-2">
        <div class="py-4">
          <h4 class="pb-2 fw-bold fs-14 text-center">Posts by Tag</h4>
          <div class="text-center">
            {% for tag in tags %}
              {% include 'partials/tags.html' %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="album py-5 bg-dark">
      <!-- Post card container -->
      <div class="container">
        <div class="row">
          {% for post in posts %}
            {% include 'partials/single_post.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
</main>

{% endblock content %}
