{% extends 'base.html' %}

{% load static %}

{% block title %}| {{ tag.slug }}{% endblock title %}

{% block content %}

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Blog Posts by Tag</h1>
          <p class="lead text-muted">
            Here are all the current posts for {{ tag|title }}
          </p>
          <p>
            <a href="{% url 'posts' %}" class="btn btn-secondary"><i class="fa-regular fa-arrow-left"></i> All Posts</a>
          </p>
        </div>
      </section>
    <div class="album py-5 bg-dark">
        <div class="container">
          <div class="row">
            {% for post in posts %}
              <div class="col-md-4">
                <a class="text-dark text-decoration-none" href="{% url 'post-detail' post.slug %}">
                  <div class="card mb-4 box-shadow">
                    <img
                      class="card-img-top"
                      src="{{ post.post_image.url }}"
                      alt="{{ post.slug }}"
                    />
                    <div class="card-body">
                      <h2
                        class="card-text"
                        style="font-size: 18px; font-weight: bold"
                      >{{ post.title|truncatechars:50 }}</h2>
                      <p class="card-text">{{ post.subtitle|safe|truncatechars:75 }}</p>
                      <div class="d-flex justify-content-between mb-3">
                        <p class="card-text">
                          <small class="text-muted" x-text="post.author">{{ post.author.first_name }} {{ post.author.last_name }}</small>
                        </p>
                      </div>
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <small>
                          {% for tag in post.tags.all %}
                            <span class="badge rounded-pill text-dark text-bg-info">{{ tag.name }}</span>
                          {% endfor %}
                        </small>
                        <small class="text-muted"
                          >{{ post.published_date }}</small
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {% endfor %}
          </div>
        </div>
    </div>
</main>

{% endblock content %}
