{% extends 'base.html' %} 

{% load static %}
{% load heroicons %}

{% block title %}| Profile{% endblock title %} 

{% block content %}

<div class="row border-2 shadow-lg rounded py-4 mx-auto" style="max-width: 60rem;">
  <div class="col-md-6 offset-md-3">
    <div class="text-center">
      <img class="img-fluid rounded-circle" src="{{ profile.avatar }}" />
      <div class="text-center">
        <h1>{{ profile.name }}</h1>
        <div class="mb-2">@{{ profile.user.username }}</div>
        {% if profile.bio %}
        <div class="mt-4">{{ profile.bio|linebreaksbr }}</div>
        {% endif %}
        {% if profile.fav_quote %}
        <div class="mt-4">{{ profile.fav_quote|linebreaksbr }}</div>
        {% endif %}
        <h5 class="text-center">{{ profile.fav_quote_author }}</h5>
        {% if profile.social_website %}
        <hr />
          <a
            title="Personal Website"
            href="{{ profile.social_website }}"
            target="_blank"
            >{% heroicon_outline "globe-americas" size=40 %}</i
          ></a>
          {% endif %}
      </div>
      <hr />
      <h3>Welcome Survey</h3>
      <p class="lead">If you are interested, please take our welcome survey so we can learn a bit more about you.</p>
      <p class="lead">Please follow this link. <a href="http://127.0.0.1:8000/profile/surveys/2/start/">Welcome Survey</a></p>
    </div>
  </div>
</div>

{% endblock content %}
